:root {
  --pns-000: #000;
  --pns-000000: #000000;
  --pns-007aff: #007aff;
  --pns-111827: #111827;
  --pns-141414: #141414;
  --pns-1d5d90: #1d5d90;
  --pns-1f2937: #1f2937;
  --pns-216ba5: #216ba5;
  --pns-2e75a8: #2e75a8;
  --pns-32be3f: #32be3f;
  --pns-333: #333;
  --pns-374151: #374151;
  --pns-3b82f6: #3b82f6;
  --pns-3dcc4a: #3dcc4a;
  --pns-4b5563: #4b5563;
  --pns-522c55: #522c55;
  --pns-6b7280: #6b7280;
  --pns-786e5e: #786e5e;
  --pns-93c5fd: #93c5fd;
  --pns-9ca3af: #9ca3af;
  --pns-a4a4a4: #a4a4a4;
  --pns-a6a6a6: #a6a6a6;
  --pns-aeaeae: #aeaeae;
  --pns-b3b3b3: #b3b3b3;
  --pns-bad9f1: #bad9f1;
  --pns-ccc: #ccc;
  --pns-cf5300: #cf5300;
  --pns-d1d5db: #d1d5db;
  --pns-d4d9dd: #d4d9dd;
  --pns-d9d9d9: #d9d9d9;
  --pns-e0e0e0: #e0e0e0;
  --pns-e5e7eb: #e5e7eb;
  --pns-eeeeee: #eeeeee;
  --pns-efefef: #efefef;
  --pns-f0f: #f0f;
  --pns-f0f0f0: #f0f0f0;
  --pns-f1f1f1: #f1f1f1;
  --pns-f3f4f6: #f3f4f6;
  --pns-f5f5f5: #f5f5f5;
  --pns-f87171: #f87171;
  --pns-fafafa: #fafafa;
  --pns-ff6803: #ff6803;
  --pns-fff: #fff;
  --pns-ffffff: #ffffff;
}
